<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autodesk.Navisworks.Api" publicKeyToken="d85e58fa5af9b484" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.1298.75" newVersion="14.0.1298.75" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>